.wrap{
    /* box-sizing: border-box; */
    margin: 10px;
    /* width: 100%; */
    margin-left: 80px;
}

.wrap1{
    margin-left: 100px;
}

.filter{
    display: flex;
    padding: 20px;
    width: 200px;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.clothes2{
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: auto auto ; */
    gap: 70px 20px;
    width: 100%;
    justify-content: center;
    
}
.clothes2 img{
    width: 250px;
}

.dress{
    font-weight: bold;
    margin-top: 10px;
}

.dress p{
    margin: 0;

}

.dress img{
    width: 150px;
    
}

.joe p{
    width: 35px;
    height: 35px;
    margin: 1px;
    gap: 15px;
    border: 1px solid gray;
    justify-content: space-between;
    border-radius: 50%;
    /* background-color: red; */
    display: inline-block;
}

#col1{
    background-color: green;
}
#col2{
    background-color: red;
}
#col3{
    background-color: yellow;
}
#col4{
    background-color: tomato;
}
#col5{
    background-color: skyblue;
}
#col6{
    background-color: blue;
}
#col7{
    background-color: purple;
}
#col8{
    background-color: palevioletred;
}
#col9{
    background-color: white;
}
#col0{
    background-color: black;
}

.two p{
    display: inline;
    /* max-width: 50%; */
    /* flex-wrap: wrap; */
}

.next{
    display: flex;
    justify-content: space-between;
}

#btn{
    background-color: white;
    cursor: pointer;
    color: black;
    border-radius: 7px;
}
.space p{
    display: inline-block;
    width: 50px;
    cursor: pointer;
    text-align: center;
}
.space p:hover{
    border: 1px solid black;
    background-color: gray;
    width: 30px;
    border-radius: 4px;
}

