.main-wrapper{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 90%;
}

.cart1{
    display: flex;
    /* border: 1px solid; */
    height: 150px;
    width: 667px;
}

.wrapper1{
    width: 715px;
    border: 1px solid grey;
    border-radius: 20px;
    margin-top: 85px;
}

.wrapper1 div{
    margin-top: 10px;
    margin: 20px;
    
}

.item{
    margin-top: 30px;
}

.item p{
    text-align: left;
    width: 400px;
    margin: 0;
    gap: 20px;
}

#bin img{
    display: block;
    margin-left: 40px;
}
#bin p{
    display: inline;
    justify-content: space-between;
    margin-top: 150px;
   
}
.click{
    text-align: center;
    cursor: pointer;
    height: 20px;
    border-radius: 10px;
}
.click1{
    background-color: gray;
    font-weight: bold;

}

#order{
    margin-left: 50px;
    margin-top: 70px;
}

.sub{
    gap: 100px;
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    margin: 50px;
}

.sub1{
    margin: 10px;
}
#grey{
    color: grey;
}
#amt{
    margin-left: 260px;
    color: black;
}
#amt1{
    color: red;
    margin-left: 200px;
}
#amt2{
    color: black;
    margin-left: 240px;
}
#amt3{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 275px;
}

.add{
    display: flex;
    gap: 12px;
}
.add p{
    border: 1px solid transparent;
    width: 119px;
    text-align: center;
    height: 48px;
    box-sizing: border-box;
    padding-top: 10px;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 68px;
    cursor: pointer;
}

#add1{
    width: 362px;
    height: 48px;
    border-radius: 68px;
    background-color: #F0F0F0;
    color: black;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}
#add2{
    width: 372px;
    height: 48px;
    border-radius: 68px;
    background-color: #000;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}

#large{
    color: grey;
    font-size: 20px;
}

#dol{
    font-size: 25px;
    font-weight: bolder;
}